*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
config/deploy.rb
config/deploy/production.rb
config/database.yml
config/vend.yml
config/schedule.rb
