# config valid only for Capistrano 3.1
lock '3.2.1'

set :application, 'vend-sync'
set :repo_url, 'git@github.com:crossroads/vend-sync.git'
set :deploy_to, '/var/www/vend-sync/'
set :rvm_ruby_version, '2.1.1'
set :linked_files, %w{config/database.yml config/vend.yml config/schedule.rb}
set :linked_dirs, %w{log vendor/bundle}
set :log_level, :info
